@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-dark: #5651e1;
  --primary-light: #709dff;
}

.footer-icon,
.nav-icon {
  color: var(--primary-dark);
}

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  .footer-link,
  .nav-link {
    @apply p-4 text-base cursor-pointer;
  }

  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  .footer-icon,
  .nav-icon {
    @apply text-2xl cursor-pointer;
  }

  .btn {
    @apply px-4 py-2 cursor-pointer border bg-gradient-to-r from-[var(--primary-dark)] to-[--primary-light] text-white rounded-md;
  }
}
